html,
body,
#bubbles { height: 100% }
body { overflow: hidden }
#bubbles { padding: 100px 0 }
.bubble {
    width: 200px;
    height: 200px;
    background: #ffb200;
    border-radius: 200px;
    -moz-border-radius: 200px;
    -webkit-border-radius: 200px;
    position: absolute;
}

#layer {
	background: #000;
	opacity: 0.7;
	position: absolute;
	display: none;
	color: #fff;
	overflow: auto;
	font-size: 1.6em;
	padding: 8px;
	top: 50px;
	left: 0px;
}

#news_title {
	color: red;
	text-transform: italic; 
}

#news_container {
	margin-bottom: 85px;
}

#close {
	margin-bottom: 4px;
	text-align: center;
	font-size: 1.1em;
	color: #000;
	background: #ccc;
}

img {
	border-radius: 200px;
    -moz-border-radius: 200px;
    -webkit-border-radius: 200px;
    padding: 5px;
}

.paused {
    -webkit-animation-play-state:paused;
    -moz-animation-play-state:paused;
    -o-animation-play-state:paused; 
    animation-play-state:paused;
}

@-webkit-keyframes moveDown { 
    0% { 
        top: 500px;
    }
    100% { 
        top: -500px;
    }
}

@-webkit-keyframes moveUp {
    0% { 
        top: -500px;
    }
    100% { 
        top: 500px;
    }
}

@-webkit-keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:150px;
    }
}

@-moz-keyframes moveDown {     
    0% { 
        top: 500px;
    }

    100% { 
        top: -500px;
    }
}

@-moz-keyframes moveUp {
    0% { 
        top: -500px;
    }
    100% { 
        top: 500px;
    }
}

@-moz-keyframes sideWays {
    0% {
        margin-left:0px;
    }
    100% {
        margin-left:50px;
    }
}
@-o-keyframes moveDown {
    0% { 
        top: 500px;
    }
    100% { 
        top: -500px;
    }
}

@-o-keyframes moveUp {
    0% { 
        top: -500px;
    }
    100% { 
        top: 500px;
    }
}

@-o-keyframes sideWays {
    0% {
        margin-left:0px;
    }
    100% {
        margin-left:50px;
    }
}
